<p id="notice"><%= notice %></p>

<h1>リストブログ</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ニューブログ', new_blog_path %>
<%= link_to '問い合わせ',{:controller => "show",:action => 'part1'},{:class => "btn"} %>
<% if user_signed_in? %>
<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<li><%= link_to "名前変える", edit_user_registration_path %></li>
<% else %>
<li><%= link_to "Login", new_user_session_path %></li> 
<% end %>