<p id="notice"><% notice %></p>

<%= link_to 'New Blog', new_blog_path %>
<% @blogs.each do |blog| %>
<div class="panel panel-primary">
 <div class="panel-heading">

   <h3 class="panel-title"><%= profile_img(blog.user) %><%= blog.title %></h3>
 </div>
 <div class="panel-body">
  <%= blog.content %><br/>
  <em><%= blog.created_at %></em>
<p><em><%= blog.user.name %></em></p>
   <%= link_to 'Show', blog %>
<% if blog.user == current_user %>
<td><%= link_to 'Edit', edit_blog_path(blog) %></td>
<td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   <% end %>
 </div>
</div>
<% end %>
