<p id="notice"><%= notice %></p>

<p>
  <strong>Blogs:</strong>

</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', blogs_path(comment.blog) %>
